@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
       url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OpenSansBold', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.nice-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    background-image: url("../gfx/mask.png");
    top: 0;
    left: 0;
}

.container {
    position: relative;
    z-index: 100;
}

.wrap {
    position: relative;;

}

.logo {
    padding-bottom: 15px;
    text-align: center;
}

.logo img {
    width: 90%;
}

.sep-line {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #0167B3;
    border-bottom: 1px solid #269FF8;
    height: 0;
    display: block;
    overflow: hidden;
}

.info {
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 124, 191, 0.9);
    color: #ffffff;
    padding-bottom: 15px;
}

.info > div {
    padding-top: 15px;
    text-align: center;
}

.info .glyphicon {
    display: block;
    margin-bottom: 10px;
    font-size: 140%;
}

.links {
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    background-color: #007CBF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.links a {
    color: #ffffff;
    margin-right: 7px;
}

.links .social {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 130%;
}


@media (max-width: 768px) {
    .links .social {
        text-align: center;
    }
}

.countdowns {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    color: #666666;
}

.countdowns .progress-label {
    margin-bottom: 5px;
    font-size: 120%;
}

.countdowns > div {
    margin: 10px 0;
}

.radial-progress {
    background-color: #d6dadc;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
}

.radial-progress .circle .fill,
.radial-progress .circle .mask,
.radial-progress .circle .shadow {
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 50%;
}

.radial-progress .circle .shadow {
    box-shadow: 6px 6px 10px rgba(0,0,0,0.2) inset;
}

.radial-progress .circle .mask,
.radial-progress .circle .fill {
    -webkit-backface-visibility: hidden;
    border-radius: 50%;
}

.radial-progress .circle .mask {
    clip: rect(0px, 120px, 120px, 60px);
}

.radial-progress .circle .mask .fill {
    clip: rect(0px, 60px, 120px, 0px);
}

.cfp-progress .circle .mask .fill {
    background-color: #75C044;
}

.tickets-progress .circle .mask .fill {
    background-color: #007CBF;
}

.event-progress .circle .mask .fill {
    background-color: #CDDC29;
}

.radial-progress .circle .mask.full,
.radial-progress .circle .fill {
}

.radial-progress .circle .fill.fix {
}

.radial-progress .inset {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 6px 6px 10px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    align-items: center
}

.radial-progress .counter {
    width: 75%;
    height: 75%;
    font-size: 150%;
}
